
#hoca{border: 5px solid blue; height: 800px;
}
#bg {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: url(./ocean.png); 
    background-size: cover;
    background-attachment:fixed;
  }
#shark{
    left: 100px; top:400px;
    position: absolute;
    animation-name:Shark;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes Shark{
    0% {left:200px; top:400px;}
    20% {left:300px; top:400px;}
    40% {left:450px; top:300px;}
    50% {left:700px; top:50px;}
    60% {left:800px; top:100px;}
    80% {left:950px; top:200px;}
    100% {left:950px; top:400px; transform:scaleX(-1);}

}
#diver1{
    left: 200px; top:800px;
    position:absolute;
    animation-name:diver1;
    animation-duration: 12s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: calc(-50,50);
}

@keyframes diver1{
    0% {left:100px; top:400px;}
    20% {left:100px; top:400px;}
    40% {left:100px; top:200px;}
    50% {left:100px; top:50px;}
    60% {left:100px; top:100px;}
    80% {left:100px; top:100px;}
    100% {left:100px; top:400px; transform:scaleX(-1);}
}
#diver2{
    left: 200px; top:800px;
    position:absolute;
    animation-name:diver2;
    animation-duration: 28s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: calc(-60,80);
}

@keyframes diver2{
    0% {left:500px; top:400px;}
    20% {left:500px; top:600px;}
    40% {left:500px; top:200px;}
    50% {left:500px; top:100px;}
    60% {left:500px; top:500px;}
    80% {left:500px; top:150px;}
    100% {left:500px; top:350px; transform:scaleX(-1);}
}
#diver3{
    left: 200px; top:800px;
    position:absolute;
    animation-name:diver3;
    animation-duration: 18s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: calc(-70,60);
}

@keyframes diver3{
    0% {left:1000px; top:500px;}
    20% {left:1000px; top:600px;}
    40% {left:1000px; top:20px;}
    50% {left:1000px; top:500px;}
    60% {left:1000px; top:300px;}
    80% {left:1000px; top:350px;}
    100% {left:1000px; top:450px; transform:scaleX(-1);}
}
#goldFishSchool{
    left: 150px; top:950px;
    position:absolute;
    animation-name:goldFishSchool;
    animation-duration: 16s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes goldFishSchool{
    0% {left:200px; top:500px;}
    20% {left:300px; top:500px;}
    40% {left:600px; top:400px;}
    50% {left:650px; top:250px;}
    60% {left:700px; top:200px;}
    80% {left:850px; top:150px;}
    100% {left: 950px; top:100px; transform:scaleX(-2);}
}
#goldFishSchool1{
    left: 950px; top:600px;
    position:absolute;
    animation-name:goldFishSchool1;
    animation-duration: 14s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes goldFishSchool1{
    0% {left:950px; top:600px;}
    20% {left:800px; top:500px;}
    40% {left:700px; top:400px;}
    50% {left:650px; top:450px;}
    60% {left:500px; top:350px;}
    80% {left:450px; top:250px;}
    100% {left: 200px; top:100px; transform:scaleX(-2);}
}
#turtle{
    left: 100px; top:400px;
    position:absolute;
    animation-name:turtle;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes turtle{
    0% {left:150px; top:50px;}
    20% {left:350px; top:100px;}
    40% {left:600px; top:200px;}
    50% {left:700px; top:250px;}
    60% {left:750px; top:350px;}
    80% {left:900px; top:350px;}
    100% {left:980px; top:300px;}
}
#turtle1{
    left: 50px; top:200px;
    position:absolute;
    animation-name:turtle1;
    animation-duration: 35s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes turtle1{
    0% {left:250px; top:50px0px;}
    40% {left:500px; top:200px;}
    50% {left:550px; top:200px;}
    60% {left:600px; top:200px;}
    20% {left:650px; top:200px;}
    80% {left:750px; top:300px;}
    100% {left:850px; top:300px;}
}
#faintSchool{
    left: 150px; top:600px;
    position:absolute;
    animation-name:faintSchool;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes faintSchool{
    0% {left:150px; top:650px;}
    20% {left:150px; top:600px;}
    40% {left:150px; top:600px;}
    50% {left:150px; top:550px;}
    60% {left:150px; top:400px;}
    80% {left:150px; top:200px;}
    100% {left:150px; top:5cap;}
}
#faintSchool1{
    left: 150px; top:600px;
    position:absolute;
    animation-name:faintSchool1;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes faintSchool1{
    0% {left:750px; top:650px;}
    20% {left:750px; top:600px;}
    40% {left:750px; top:600px;}
    50% {left:750px; top:550px;}
    60% {left:750px; top:400px;}
    80% {left:750px; top:200px;}
    100% {left:750px; top:5cap;}
}
#faintSchool2{
    left: 150px; top:600px;
    position:absolute;
    animation-name:faintSchool2;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes faintSchool2{
    0% {left:1250px; top:650px;}
    20% {left:1250px; top:600px;}
    40% {left:1250px; top:600px;}
    50% {left:1250px; top:550px;}
    60% {left:1250px; top:400px;}
    80% {left:1250px; top:200px;}
    100% {left:1250px; top:5cap;}
}
#sanho1{
    left: 50px; top:465px;
    position:absolute;
    background-size: cover;
}
#sanho2{
    left: 1170px; top:410px;
    position:absolute;
    background-size: cover;
}
#sanho3{
    left: 750px; top:620px;
    position:absolute;
    background-size: cover;
}
#sanho4{
    left: 0px; top:620px;
    position:absolute;
    background-size: cover;
}

#sanho5{
    left: 1000px; top:620px;
    position:absolute;
    background-size: cover;
}
#ca1{
    left: 150px; top:850px;
    position:absolute;
    animation-name:ca1;
    animation-duration: 17s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes ca1{
    0% {left:150px; top:50px;}
    20% {left:400px; top:100px;}
    40% {left:600px; top:200px;}
    50% {left:700px; top:250px;}
    60% {left:800px; top:350px;}
    80% {left:810px; top:550px;}
    100% {left:880px; top:700px;}
}
#ca2{
    left: 200px; top:700px;
    position:absolute;
    animation-name:ca2;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes ca2{
    0% {left:250px; top:50px;}
    20% {left:300px; top:100px;}
    40% {left:450px; top:200px;}
    50% {left:500px; top:50px;}
    60% {left:750px; top:250px;}
    80% {left:700px; top:300px;}
    100% {left:900px; top:100px;}
}









